[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/albertnetymk
[access "refs/for/refs/*"]
	read = group user/albertnetymk
	push = group user/albertnetymk
	label-Code-Review = -2..+2 group user/albertnetymk
	label-Verified = -1..+1 group user/albertnetymk
	rebase = group user/albertnetymk
	removeReviewer = group user/albertnetymk
	submit = group user/albertnetymk
[access "refs/heads/*"]
	read = group user/albertnetymk
	create = group user/albertnetymk
	push = +force group user/albertnetymk
	pushMerge = group user/albertnetymk
[access "refs/tags/*"]
	push = +force group user/albertnetymk
	pushTag = group user/albertnetymk
	pushSignedTag = group user/albertnetymk
